<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss} %-5level %logger{15}.%M %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.hibernate.SQL" level="DEBUG"/>
	<logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
	<logger name="org.springframework.orm.jps.JpaTransactionManager" level="DEBUG"/>
	<logger name="org.hibernate.internal.sessionImpl" level="TRACE" />
		
	
	
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>